$fonts:'Shrikhand';
$color:'#ab99ca';
$gradient:linear-gradient(to right, #9356DC, #FF79DA);
$etiquette: white;
$wetiquette: 90%;


@keyframes moovel {
    0%{ transform: scaleX(1);

    }
    100%{
        transform: scaleX(0.80);
        /*
        .test1{
            background-color: #9356DC;
            z-index: 1;
        }
        .textdir{
            background: blue;
        }*/

    }
}

@media  screen and (max-width:767px) {
 .imgp{
    margin-top: 30px;
    display: flex;
 }
 .imgp img{
    width: 100%;
    height: 275px;
    object-fit: cover;
    z-index: -1;
 }
h2{
    margin-left: 3%;
}
.restaurants h2{
    padding-left: 3%;
}
    

h1{
    font-family: $fonts;
}
body{
    background-color: $color;
    font-family: 'Raleway', sans-serif;
}
.topimg img{
    height: 275px;
    width: 100%;

}
.top{
   text-align: center;
   background-color: grey;
}
.top h1{
    font-size: 24px;
    margin-left: 25%;
    margin-right: 25%;
}
.top p{
    font-size:  18px;
    margin-left: 12%;
    margin-right: 12%;
}
.buttontop{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50px;
    margin: auto;
    background:$gradient ;
    border-radius: 20px;
    color: white;
    transition-duration: 400ms;
    transition-property: transform;
}
.buttontop:hover{
 transform: scale(1.05);
}


header img{
    display: block;
    margin: auto;
    height: 44px;
}
.location{
    background-color: #d2d2d2;
    width: 100%;
    height: 50px;
    text-align: center;
}
.location i {
    padding-top: 2%;
}

.background{
    width: 100%;
    padding-bottom: 20px;
    background-color: #F6F6F6;
    margin-top: -50px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;

}
.background h2{
    margin-left: 10px;
}
.background h1{
    margin-left: 20px;
    padding-top: 30px;
    font-size: 30px
}

.entre{  
        background-color: $etiquette;
        width: $wetiquette;
        height: 70px;
        border-radius: 15px;
        margin-left: 5%;
        line-height: 5px;
        cursor: pointer;
        transition: width 1s;
        
}
.entre:active{
    width: 70%;
}
.hearth{
    position: absolute;
    top: 26.5%;
    left: 80%;
    font-size: 35px;
}
.test1{
    position: absolute;
    top: 35.5%;
    left: 73%;
    background-color: aqua;
    height: 70px;
    width: 20%;
    border-bottom-right-radius: 20%;
    border-top-right-radius: 20%;
    z-index: -1;
}


.entre h3{
    font-size: 20px;
    padding-top: 20px;
    padding-left: 10px;
}
.entre p{
    padding-left: 10px;
}


.line{
    width: 40px;
    height: 3px;
    background-color: green;
    margin-left: 10px;
    

}
.plat{
 background-color: $etiquette;
 width: $wetiquette;
 height: 70px;
 border-radius: 15px;
 margin: auto;
 line-height: 5px;

}
.plat h3{
    font-size: 20px;
    padding-top: 20px;
    padding-left: 10px;
}
.plat p{
    padding-left: 10px;
}
.dessert{
background-color: $etiquette;
 width: $wetiquette;
 height: 70px;
 border-radius: 15px;
 margin: auto;
 line-height: 5px;

}
.dessert h3{
    font-size: 20px;
    padding-top: 20px;
    padding-left: 10px;
}
.dessert p{
    padding-left: 10px;
}
a{
    text-decoration: none;
    color: black;
}
.fonctionnement{
    display: flex;
    flex-direction: column;
}
.buttonf{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#f6f6f6 ;
    width: 90%;
    height: 73px;
    margin: auto;
    margin-top: 5%;
    border-radius: 20px;

}
.restaurants{
    background-color: #d2d2d2;
    margin-bottom: 30px;
}

.card {    
    margin: auto;
    background-color: #FFFFFF;
    width: 90%;
    height: 275px;
    border-radius: 15px;
    margin-top: 30px;
}
.card img {
    height: 195px;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
}
.restaurants h2 {
    margin: 0 0 50px 0;
  }
  .restaurants h3, .restaurants p {
    margin: 10px 0 0 20px;
  }
    .heart  {
        position: relative;
        left: 90%;       
        bottom: 10%;
        background-clip: padding-box; 
              
}
    .heart:hover{
        background-color: red;
        
    }
    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        height: 50px;
        margin: auto;
        background: $gradient;
        border-radius: 20px;
        color: white;
        margin-top: 40px;
        
    }

.f_text{
    margin-top: 5%;
    margin-left: 8%;
}
footer img {
    height: 25px;
}
}


@media screen and  (min-width:768px) {
a{
    text-decoration: none;
    color: black;
}
.imgp{
    margin-top: 30px;
    display: flex;
 }
 .imgp img{
    width: 100%;
    height: 275px;
    object-fit: cover;
    z-index: -1;
 }
 .background{
     width: 50%;
     padding-bottom: 20px;
     background-color: #F6F6F6;
     margin-top: -50px;
     border-top-left-radius: 40px;
     border-top-right-radius: 40px;
 }
 .entre{  
    background-color: $etiquette;
    width: $wetiquette;
    height: 70px;
    border-radius: 15px;
    margin-left: 5%;
    line-height: 5px;
    
}
.entre h3{
    font-size: 20px;
    padding-top: 20px;
    padding-left: 10px;
}
.entre p{
    padding-left: 10px;
}
.plat{
    background-color: $etiquette;
    width: $wetiquette;
    height: 70px;
    border-radius: 15px;
    margin: auto;
    line-height: 5px;
   
   }
   .plat h3{
       font-size: 20px;
       padding-top: 20px;
       padding-left: 10px;
   }
   .plat p{
       padding-left: 10px;
   }
   .dessert{
   background-color: $etiquette;
    width: $wetiquette;
    height: 70px;
    border-radius: 15px;
    margin: auto;
    line-height: 5px;
   
   }
   .dessert h3{
       font-size: 20px;
       padding-top: 20px;
       padding-left: 10px;
   }
   .dessert p{
       padding-left: 10px;
   }
   .line{
    width: 40px;
    height: 3px;
    background-color: green;
    margin-left: 10px;
    

}

header img{
    display: block;
    height: 40px;
    margin: auto;
}
.location{
    background-color: #d2d2d2;
    width: 100%;
    height: 50px;
   text-align: center;
   }
.location i{
    padding-top: 1%;
}
.top{
    background-color: #f6f6f6;
    text-align: center;
    width: 100%;
    height: 250px;
}
.top h1{
    font-size: 40px;
    margin-top: 0px;
    padding-top: 10px;
}
.top p{
    font-size: 18px;
    color: #353535;
}
.top a{
    color:white;
}
.buttontop{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 50px;
    margin: auto;
    background:$gradient;
    border-radius: 20px;
    
}
.fonctionnement{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 40px;
}
.buttonf{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F6F6F6 ;
    width:322px ;
    height: 73px ;
    border-radius: 20px;

}
.restaurants{
    background-color: #d2d2D2;
}
.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 30px;
}
.card{
    background-color: #FFFFFF;
    height: 270px;
    width: 490px;
    border-radius: 15px;

}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 50px;
    margin: auto;
    background:$gradient ;
    border-radius: 20px;
    color: white;
}
.card img{
    width: 100%;
    height: 200px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    display: flex;
    text-align: center;
}
.card_text{
    font-size: 18px;
    line-height: 0px;
}

}
